.PaginaSobre{
    display: flex;
    flex-direction: column;
}

.PaginaSobre .secao-banner{
    background-image: url("/public/assets/banner-sobre.png");
    background-size: cover;
    height: 70vh;
}

.secao-sobre{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 55vh;
    gap: 20px;
}

.secao-sobre p{
    width: 66%;
}
@media screen and (max-width:436px){
    .secao-sobre{
        height: 100%;
        padding: 70px 0px;
    }

    .secao-sobre p{
        width: 80%;
    }
}

@media screen and (min-width:437px) and (max-width:768px){
    .secao-sobre p{
        width: 85%;
    }
}