footer{
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .container-logo{
    width: 70px;
    height: 70px;
    margin: 30px;
}

.footer-Contatos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    gap: 30px;
}

.footer-info{
    width: 200px;
    text-align: left;
    line-height: 25px;
}

.desenvolvedor{
    padding: 10px;
}

@media screen and (max-width:436px){
    .footer-Contatos{
        flex-direction: column;
        height: 70vh;
        gap: 10px;
    }

    .footer-info{
        text-align: center;
        width: 220px;
    }

}

@media screen and (min-width:437px) and (max-width:768px){
    .footer-Contatos{
        flex-direction: column;
        height: 70vh;
        gap: 10px;
    }

    .footer-info{
        text-align: center;
        width: 220px;
    }
}